<div class='about'>
    <center><h1>Welcome to center of sharing references</h1></center>
    <div id="" class="row row-cols-2 order-2">
        <div class="col" data-aos="fade-down">
          <div class="aos-item__inner">
            <h3>10</h3>
        </div>
        </div>
        <div class="col" data-aos="fade-up">
          <div class="aos-item__inner"><h3>11</h3></div>
        </div>
        <div class="col" data-aos="fade-down">
          <div class="aos-item__inner"><h3>12</h3></div>
        </div>
        <div class="col" data-aos="fade-in">
          <div class="aos-item__inner"><h3>13</h3></div>
        </div>
        <div class="col" data-aos="fade-up">
          <div class="aos-item__inner"><h3>14</h3></div>
        </div>
        <div class="col" data-aos="fade-in">
          <div class="aos-item__inner"><h3>15</h3></div>
        </div>
      </div>
</div>