<footer class="bottom">
    <div class="footerContainer row row-cols-1 row-cols-lg-3 px-0 mx-0">
        <div class="footerItem col">
            <h1>Accounts</h1>
            <ul class="list-unstyled">
                <li><a href="{% url 'signup' %}" class=""><span class="ion-ios-arrow-forward mr-3"></span>Sign Up</a></li>
                <li><a href="{% url 'login' %}" class=""><span class="ion-ios-arrow-forward mr-3"></span>Login</a></li>
                <li><a href="case.html" class=""><span class="ion-ios-arrow-forward mr-3"></span>Log Out</a></li>
                <li><a href="case.html" class=""><span class="ion-ios-arrow-forward mr-3"></span>Criminal Law</a></li>
                <li><a href="case.html" class=""><span class="ion-ios-arrow-forward mr-3"></span>Drug Offenses</a></li>
                <li><a href="case.html" class=""><span class="ion-ios-arrow-forward mr-3"></span>Fire Accident</a></li>
                <li><a href="case.html" class=""><span class="ion-ios-arrow-forward mr-3"></span>Employment Law</a></li>
                <li><a href="case.html" class=""><span class="ion-ios-arrow-forward mr-3"></span>Property Law</a></li>
              </ul>
        </div>
        <div class="footerItem col">
            <h1>Services</h1>
            <ul class="list-unstyled">
                <li><a href="{% url 'reference_view' %}" class=""><span class="ion-ios-arrow-forward mr-3"></span>reference stations</a></li>
                <li><a href="case.html" class=""><span class="ion-ios-arrow-forward mr-3"></span>Lands for sale</a></li>
                <li><a href="case.html" class=""><span class="ion-ios-arrow-forward mr-3"></span>Softwares</a></li>
                <li><a href="case.html" class=""><span class="ion-ios-arrow-forward mr-3"></span>Instruments</a></li>
                <li><a href="case.html" class=""><span class="ion-ios-arrow-forward mr-3"></span>Surveyors</a></li>
                <li><a href="case.html" class=""><span class="ion-ios-arrow-forward mr-3"></span>Community</a></li>
            </ul>
        </div>
        <div class="footerItem col">
            <h1>Lands</h1>
            <ul class="list-unstyled">
                <li><a href="case.html" class=""><span class="ion-ios-arrow-forward mr-3"></span>Family Law</a></li>
                <li><a href="case.html" class=""><span class="ion-ios-arrow-forward mr-3"></span>Business Law</a></li>
                <li><a href="case.html" class=""><span class="ion-ios-arrow-forward mr-3"></span>Insurance Law</a></li>
                <li><a href="case.html" class=""><span class="ion-ios-arrow-forward mr-3"></span>Criminal Law</a></li>
                <li><a href="case.html" class=""><span class="ion-ios-arrow-forward mr-3"></span>Drug Offenses</a></li>
                <li><a href="case.html" class=""><span class="ion-ios-arrow-forward mr-3"></span>Fire Accident</a></li>
                <li><a href="case.html" class=""><span class="ion-ios-arrow-forward mr-3"></span>Employment Law</a></li>
                <li><a href="case.html" class=""><span class="ion-ios-arrow-forward mr-3"></span>Property Law</a></li>
              </ul>
        </div>
        <br>
        <br>
        <br>
        <p>
            <center>
                Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | Reference Ghana 
            </center>
        </p>
        <br>
        <br>
        <br>
    </div>
</footer>